<div class="Header">
        <app-header></app-header>
            </div>
<div>
        <mat-card>
                <form>
                    <div class="form-group">
                        <label for="exampleInputName1">Enter the title name</label>
                        <input type="text" [(ngModel)]="details.title" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputName1" aria-describedby="emailHelp"
                            placeholder="Enter title name">
                        <small id="emailHelp" class="form-text text-muted">Only admin can add title and description.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Author Name</label>
                        <input type="text" [(ngModel)]="details.author" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" placeholder="Enter author name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Describe your title</label>
                        <textarea [(ngModel)]="details.description"[ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button class="add" type="submit" (click)="sendDetailToBackend()" class="btn btn-primary">Submit</button> <button type="submit" class="margin_left" routerLink="/dashboard" class="btn btn-primary">Go to dashboard</button> 
                    <!-- <button type="submit" class="margin_left"(click)="retriveDetailToBackend()"  class="btn btn-primary">Confrom</button> -->
                </form>
        </mat-card>
</div>

