<div class="Login">
        <div class="rectangle">
           <div> <img class="Login_Image" src="../../assets/Group 43.svg"></div>
           <div class="Application_Title">
               <p>Book Library</p>
               <p class="description">Shop Books Online - Explore huge range of branded Books online get upto 10% discount, view our product list and pick the best Books for you</p>
            </div>
    
        </div>
        <div class="content">
            <div class="Margin_Padding">
                    <div class="Flex-row">
                        <div>
                            <img class="Study_Icon" src="../../assets/study.png">
                    
                        </div>
                        <div>
                            <p class="Title">Book Library</p>
                        </div>
                    </div>
                    <div>
                        <p class="sign-in-to-your-BL">{{title}}</p>
                    </div>
                    <div>
                            <form>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group form-check">
                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button routerLink='/login' type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                    </div>   
            </div>
            
        
        </div>
    </div>
    