<div class="Header">
  <div class="BL">
    <img class="BL_logo" routerLink="/userpanel" src="../../assets/BL logo.png">
  </div>
  <div class="Book_Library_Title">
    Book Library
  </div>

  <div>
    <button class="topis_titles" mat-button [matMenuTriggerFor]="animals">Collections</button>

    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Non Technical</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Technical</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">English</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Tamil</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Hindi</button>
      <button mat-menu-item>Toys Stroys</button>
      <button mat-menu-item>Childers books</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
      <button (click)="goToC()" mat-menu-item>C</button>
      <button (click)="goToJava()" mat-menu-item>Java</button>
      <button (click)="goToMySQL()" mat-menu-item>MySQL</button>
      <button (click)="goToAngular()" mat-menu-item>Angular Material</button>
      <button (click)="goToHTML()" mat-menu-item>HTML5</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>The Pilgrim’s Progress</button>
      <button mat-menu-item>Robinson Crusoe </button>
      <button mat-menu-item>Gulliver’s Travels</button>
      <button mat-menu-item> The Life and Opinions of Tristram Shandy, Gentleman</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Magical book</button>
      <button mat-menu-item>101 Inspiring Stories</button>
      <button mat-menu-item> Thanneer Desam by Vairamuthu </button>
      <button mat-menu-item> Jeyakanthan Kathaikal (Tamil Edition)
        by Jeyakanthan</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>

  </div>
  <div class="top_margin">
          <div class="form-group has-search">
              <input id="filter" [(ngModel)]="search" type="text" placeholder=" Search Item" />
              <i id="filtersubmit" (click)="goToSearch()" class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
        <div class="details contact">
          <button class="color" mat-button>Contact us</button>
        </div>
        <div class="details">
          <button class="color" mat-button [matMenuTriggerFor]="menu" >User</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Your Profile</button>
            <button mat-menu-item>Your cart</button>
            <button mat-menu-item>Help</button>
            <button mat-menu-item>Setting</button>
            <button mat-menu-item routerLink="/login">SignOut</button>
          </mat-menu>
        </div>
      </div>